/* AnimatedCursor.module.css */
.cursorOuter {
    width: 90px;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .cursorInner {
    width: 90px;
    height: 90px;
    background-color: var(--primary-color);
  }
  
  .visible {
    opacity: 1;
  }
  
  .hidden {
    opacity: 0;
  }